#worldmarket{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    overflow-Y: scroll;
    padding-bottom: 50px;
 
   
    
}

#cards{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    box-shadow: -1px -1px 10px -1px rgb(117, 109, 109);
   

}

.card{
    margin: 5px;
    width: 300px;
    height: 70px;
    box-shadow: -1px -1px 10px -1px rgb(117, 109, 109);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .8rem;
    padding: 10px;

}
.index-title{
    height: 40px;
    font-size: 1.2rem;
}
.index-value{
    height: 30px;
    align-items: center;
    display: flex;
}

.index-change{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    /* border: 1px solid red; */
}
/* .index-change-current-day{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
} */
.index-change-past-day{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
.indicator{
    display: flex;
    flex-direction: row;
  
}
.prev-day-indicator{
    width: 14px;
    height: 6px;
    background-color: rgb(8, 82, 18);
    margin-left: 5px;
}
.negative{
    background-color: rgb(172, 49, 49);
}