#worldmarket{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
  overflow-y:scroll;
    padding-bottom: 20px;
 
   
    
}

#cards{
    width: 74%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    /* box-shadow: -1px -1px 10px -2px rgb(117, 109, 109); */
    box-shadow: rgb(255 255 255 / 18%) 0px 0px 9px;
   

}
